
@font-face {
    font-family: "Cinzel";
    src: url("cinzel-regular-webfont.eot");
    src: url("cinzel-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("cinzel-regular-webfont.woff") format("woff"),
         url("cinzel-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #e6e8dd;
    margin-top: 70px;
}
header.navbar.navbar-inverse {
    background: #4da842;
    border-bottom:  5px solid #156c0c;
}
header.navbar.navbar-inverse h1.navbar-brand, h1.navbar-brand:hover {
    margin:    0 0 0 -15px;
    color:  #e6e8dd;
    cursor: default;
    font-family:    Cinzel;
    font-size:  2em;
}
h2, h3 {
    font-family:    Cinzel;
}
.well > h3 {
    margin-top: 0;
}
span.label .prm {
    font-weight:    300;
}
span.label .btn {
    background: none;
    padding:    0;
    margin: 0 0 2px 2px;
    line-height:    0.5;
}
#add-bot {
    padding-top:    1em;
}
#bot-prms:not(:empty) {
    padding:    0 5px;
}
#bot-prms label {
    font-weight:    normal;
    font-style: italic;
}
.input-thin {
    width:  60px;
}

/*
    red:    #fb4342
    blue:   #0092e8
*/

